@model Employee_Travel_Booking_App.travelagent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>travelagent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.travel_agent_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.travel_agent_password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.agentid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
